<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <div class="navbar">

        <div class="info">
          <a class="active" href="index">Cars List</a>
          <a href="sellers">Sellers</a>
          <a href="locations">Locations</a>
          <a href="post">Post Ad</a>
          
          <% if(!locals.user){ %>
            <a class="nav-button" href="login"><i class="fas fa-sign-in-alt"></i> Login</a>
          <% } else{ %>  
            <a  class="nav-button" href="Admin"><i class="fas fa-user"></i> Admin</a>
            <a  class="nav-button2" href="logout"><i class="fas fa-sign-in-alt"></i> Logout</a>
         <% } %>
  
          <!-- <span class="Logged-in-text" v-if="token">
            you Logged Out
            <button class="logout" @click="showLogin">log In</button>
          </span>
          <span class="Logged-in-text" v-else>
            you Logged In
            <button class="logout" @click="doLogOff">log Out</button>
          </span> -->
  
        </div>
      </div>

</head>



