<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/accounts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>test</title>
</head>

<body>
  <div id="app">
    <%- include('partials/navbar') %>
    <div class="container-users">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-user bg-dark">
              <h4 class="card-title" style="color: white;">Users</h4>
            </div>
            <div class="card-body bg-secondary">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead class=" text-primary">
                    <th>
                      Username
                    </th>
                    <th>
                      Email
                    </th>
                    <th>
                      Role
                    </th>
                    <th>
                      Actions
                    </th>
                  </thead>
                  <div>
                    <tr v-for="user in users">
                      <td id="name" class="name">
                        <div class="mb-5 form-floating controls pb" id="second-div">
                          <input class="form-control edit-input shadow-lg" id="input-delete" :form="`update${user._id}`"
                            :value="user.name" type="text" name="name" required style="width: 306px; margin-top: 3px;">
                        </div>
                      </td>
                      <td id="email" class="email">
                        <div class="mb-5 form-floating controls pb" id="second-div"><input
                            class="form-control edit-input shadow-lg" id="input-delete" :form="`update${user._id}`"
                            :value="user.email" type="email" name="email" required style="width: 306px;">
                        </div>
                      </td>
                      <td id="role" class="role">
                        <div class="mb-5 form-floating controls pb" id="second-div">
                          <select class="form-select" aria-label="Default select example" name="role"
                            :form="`update${user._id}`" :value="user.role" name="role" required style="width: 306px;">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <form :action="`/users/delete/${user._id}`" method="POST">
                          <button type='submit' class="btn btn-danger">Delete</button>
                        </form>
                      </td>
                      <td>
                        <form :action="`/users/update/${user._id}`" method="post" :id="`update${user._id}`">
                          <button id="sendMessageButton" type='submit' class="btn btn-success">Update</button>
                        </form>
                      </td>
                    </tr>
                  </div>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>



  <script type="module" src="/client.js" nonce="{{response.locals.nonce}}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


</body>

</html>