<!Doctype HTML>
	<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="css/admin.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>


	<body>
		
		<div id="mySidenav" class="sidenav">
		<p class="logo"><span>Car</span>-Ads <p class="pagename">Admin</p></p>
	  <a href="" class="icon-a"><i class="fa fa-dashboard icons"></i>   Dashboard</a>
	  <a href="/admin/customers"class="icon-a"><i class="fa fa-users icons"></i>   Customers</a>
	  <a href=""class="icon-a"><i class="fa fa-shopping-bag icons"></i>   Orders</a>
	  <a href=""class="icon-a"><i class="fa fa-tasks icons"></i>   Inventory</a>
	  <a href="/admin/accounts"class="icon-a"><i class="fa fa-user icons"></i>   Accounts</a>
	  <a href="/admin/tasks"class="icon-a"><i class="fa fa-list-alt icons"></i>   Tasks</a>
    <a href="/index"class="icon-a"><i class="fa fa-child icons"></i>   Home</a>

	</div>
	<div id="main">

		<div class="head">
			<div class="col-div-6">
	<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >☰ Dashboard</span>
	<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >☰ Dashboard</span>
	</div>
		
		<div class="col-div-6">
		<div class="profile">

			<img src="/images/profile.jpg" class="pro-img" />
			<p>Welcome, User!<span>Admin</span></p>
		</div>
	</div>
		<div class="clearfix"></div>
	</div>

		<div class="clearfix"></div>
		<br/>
		
		<div id="app">
            <table id="carsTable" class="carsShow table-bordered table-hover ">
                <tr>
                    <th>Car brand </th>
                    <th>Car price </th>
                    <th>Car Seller </th>
                    <th>Car Location </th>
                </tr>
                <tr v-for="car in cars">
                    <td @click="getcar(car._id)" class="carname">{{car.brand}}</td>
                    <td id="price" class="price ">{{car.price}}</td>
                    <td id="seller" class="seller">{{car.seller}}</td>
                    <td id="location" class="location">{{car.location}}</td>
                </tr>
            </table>
            
        
        <div class="modal fade modal-sm " id="carInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="carInfoModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header ">
                <h5 style="color: white;">Cars details<h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                </button>
              </div>
              <div class="modal-body">
                  <table>
                <tr>
                    <th>id</th>
                    <td>{{carInModal.id}}</td>
                </tr>
                <tr>
                    <th>brand</th>
                    <td>{{carInModal.brand}}</td>
                </tr>
                <tr>
                    <th>price</th>
                    <td>{{carInModal.price}}</td>
                </tr>
                <tr>
                    <th>seller</th>
                    <td>{{carInModal.seller}}</td>
                </tr>
                <tr>
                    <th>location</th>
                    <td>{{carInModal.location}}</td>
                </tr>
                <tr>
                    <th>year</th>
                    <td>{{carInModal.year}}</td>
                </tr>
                <tr>
                    <th>color</th>
                    <td>{{carInModal.color}}</td>
                </tr>
            </table>
            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
              </div>
        
              
            </div>
            </div>
          </div>
        </div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>

	  $(".nav").click(function(){
	    $("#mySidenav").css('width','70px');
	    $("#main").css('margin-left','70px');
	    $(".logo").css('visibility', 'hidden');
	    $(".logo span").css('visibility', 'visible');
	     $(".logo span").css('margin-left', '-10px');
	     $(".icon-a").css('visibility', 'hidden');
	     $(".icons").css('visibility', 'visible');
	     $(".icons").css('margin-left', '-8px');
	      $(".nav").css('display','none');
	      $(".nav2").css('display','block');
	  });

	$(".nav2").click(function(){
	    $("#mySidenav").css('width','300px');
	    $("#main").css('margin-left','300px');
	    $(".logo").css('visibility', 'visible');
	     $(".icon-a").css('visibility', 'visible');
	     $(".icons").css('visibility', 'visible');
	     $(".nav").css('display','block');
	      $(".nav2").css('display','none');
	 });

	</script>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    data() {
      return {
        carInModal:{},
        cars:[]
      }
    },
      async created(){
          this.cars= await (await fetch('http://localhost:3000/cars')).json();
      
    },
    methods: {
        getcar: async function (id) {
            this.carInModal = await (await fetch (`http://localhost:3000/cars/${id}`)).json()
            console.log(this.carInModal);
            const  carInfoModal = new bootstrap.Modal(document.getElementById('carInfoModal'),{})
            carInfoModal.show()
        }
    }
  }).mount('#app')

  // display the nuber of rows in the table
  var table = document.getElementById('carsTable'),rIndex;
  for(var i = 1; i < table.rows.length; i++)
  {
    table.rows[i].cells[0].onclick = function()
    {
      rIndex = this.parentElement.rowIndex;
      document.getElementById("carname").value = this.parentElement.cells[0].innerHTML;
      document.getElementById("price").value = this.parentElement.cells[1].innerHTML;
      document.getElementById("seller").value = this.parentElement.cells[2].innerHTML;
      document.getElementById("location").value = this.parentElement.cells[3].innerHTML;
    };
  }

</script>

	</body>


	</html>