  <body>
    

  <div class="row">
      <div class="column">
        <table id="carsTable" class="carsShow table-bordered table-hover ">
          <tr>
            <th>Car brand</th>
            <th>Car price </th>
            <th>Car Seller </th>
            <th>Car Location</th>
          </tr>
          <tr v-for="car in cars">
            <td @click="getcar(car._id)" class="carname">{{car.brand}}</td>
            <td class="price ">{{car.price}}</td>
            <td class="seller">{{car.seller}}</td>
            <td class="location">{{car.location}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="modal fade modal-sm " id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title">Cars details<h5>
              <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
              </button>
        </div>
        <div class="modal-body">
          
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select id="role" class="form-select" aria-label="Default select example" name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="password">
            </div>
    
            <p>Not member? <a href="register">Sign up</a></p>
            <button type="submit" onclick="redirectFunction()" class="btn btn-primary" id="submitBtn">Submit</button>
            <script>
              function redirectFunction() {
                if(role == "admin") {
                  window.location.href = "index/admin";
                } else {
                  window.location.href = "index";
                }
              }
            </script>
            </form>
        </div>
    
        

          <button type="button bg-dark" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

    </div>


  




  <div class="modal fade modal-sm " id="carInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="carInfoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title">Cars details<h5>
              <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
              </button>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <th>id</th>
              <td>{{carInModal.id}}</td>
            </tr>
            <tr>
              <th>brand</th>
              <td>{{carInModal.brand}}</td>
            </tr>
            <tr>
              <th>price</th>
              <td>{{carInModal.price}}</td>
            </tr>
            <tr>
              <th>seller</th>
              <td>{{carInModal.seller}}</td>
            </tr>
            <tr>
              <th>location</th>
              <td>{{carInModal.location}}</td>
            </tr>
            <tr>
              <th>year</th>
              <td>{{carInModal.year}}</td>
            </tr>
            <tr>
              <th>color</th>
              <td>{{carInModal.color}}</td>
            </tr>
          </table>
          <button type="button bg-dark" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

    </div>


  </div>
 
</body>