<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app">
        <header>
          <%- include('./partials/mainHeader.ejs') %>
        </header>
          <%- body %>
        </div>

        <footer>
            <% /* Define an optional placeholder for the footer. If a page doesn't define a footer, this section will simply be
              empty. */ %>
              <%- defineContent('footer') %>
          </footer>
          <% /* Place any scripts contained in views at the end of the page. */ %>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="client.js" nonce="{{response.locals.nonce}}"></script>

</body>
</html>