*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #a0a1a5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
